$color1: red; // logo,nav,phone color
$color1A: rgba(darken(yellow,15%),0.7);
$color2: darken(#ff8f0b,10%); // h2 background
$color2A: lighten($color2,3%);
$color2B: lighten($color2,6%);
$color3: darken(white,3%);
$color3A: darken(white,6%);
$color4: #555555;

$navTopHeight: 2.1rem;
