@import "bootstrap";
@import "partials/mixins";
@import "partials/variables";
// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700|Roboto:400,700');
// @import url('https://fonts.googleapis.com/css?family=Righteous');

html {@include bs;}
*, *:before, *:after {@include bs(inherit);}
html {font-size: 62.5%;}

body {
  position: relative;
  min-width: 36rem;
}

.toggleMenu__open , .toggleMenu__close {
  display: none;
  @include fontRighteous(1.8rem);
  color: $color3;
  padding-top: 1rem;
  span {
    color: $color4;
    padding-left: 2rem;
  }
}
.toggleMenu__here {
  display: inherit;
}
.toggleMenu {
  p {
    a {
      color: $color3;
      text-decoration: none;
    }
  }
}
h2 {
  @include fontRighteous(3rem);
  color: $color3;
  background-color: $color2;
}
.fa {
  @include padHor(1rem, 1rem);
}
.navTop {
  background-color: $color2;
}
.logo {
  h1 {
    margin: 0 auto;
    a {
      @include fontRighteous(3rem);
      color: $color3;
      text-decoration: none;
    }
  }
}
.navbarPE {
    ul {
      border: none;
      li {
        display: inline-block;
        a {
          @include fontRaleway(400,1.4rem);
          color: $color3;
          text-decoration: none;
          &:hover {
            color: $color4;
          }
        }
      }
    }

}
.langPlEn {
  @include fontRighteous(1.4rem);
  text-decoration: none;
  @include padVert(1rem, 1rem);
  &__EN {
    color: $color3;
    &:hover {
      color: $color3A;
      text-decoration: none;
    }
  }
  &__PL {
    color: $color4;
    &:hover {
      color: $color4;
      text-decoration: none;
    }
  }
  p {
    display: inline-block;;
  }
}
.aboutMe {
  @include padVert($navTopHeight, $navTopHeight);
  &__Left {
    @include fontMontserrat(700,1.4rem);
    text-align: right;
  }
  &__Right {
    @include fontMontserrat(400,1.4rem);
  }
  li {
    list-style: none;
    a {
      font-size: 1.2rem;
    }
  }
  &__name {
    font-size: 2rem;
  }
}
.myPhoto {
  max-height: 25rem;
}
.skills {
  @include padVert($navTopHeight,$navTopHeight);
}
.skillsTab {
  li {
    background-color: $color2A;
    a {
      @include fontRighteous(1.4rem);
      color: $color3A;
      &:hover {
        color: $color4;
      }
    }
  }
}
.skillsTxt {
  h3 {
    @include fontRighteous(2.8rem);
  }
  p {
    @include fontRoboto(400,1.8rem);
    span {
      font-weight: 700;
    }
  }
}
.experience {
  @include padVert($navTopHeight,$navTopHeight);
  .panel-heading {
    background-color: $color2A;
    h3 {
      @include fontRighteous(2.4rem);
      // background-color: $color2A;
      color: $color3A;
      &:focus, &:hover {
        text-decoration: none;
      }
    }
  }
  .panel-body {
    h4 {
      @include fontRighteous(2.4rem);
    }
    ul {
      li {
        h4 {
          @include fontRoboto(700,1.8rem);
        }
        @include fontRoboto(400,1.4rem);
      }
    }
  }
  &__left {
    li {
      list-style: none;
    }
  }
}
.educations {
  @include padVert($navTopHeight, $navTopHeight);
  nav {
    ul {
      li {
        a {
          @include fontRighteous(1.4rem);
          color: $color4;
        }
      }
      .list-group-item.active {
        background-color: $color2A;
        a {
          color: $color3;
          &:hover, &:focus {
            color: $color3;
          }
        }
      }
    }
  }
  .tab-pane {
    ul {
      li {
        list-style: none;
        @include fontRoboto(400);
        h4 {
          @include fontRighteous(1.8rem);
        }
        span {
          @include fontRoboto(700);
        }
      }
    }
    .educationSelect__h4 {
      @include fontRighteous(1.8rem);
    }
  }
  .educationSelect {
    div {
      ul {
        li:first-child {
          font-weight: 700;
        }
      }
    }
  }

}
.projects {
  @include padVert($navTopHeight, $navTopHeight);
  .carousel-inner {
    .item {
      img {
        margin: 0 auto;
      }
    }
  }
  .carousel-caption {
    h3 {
      a {
        @include fontRighteous(3.6rem);
        background-color: $color1A;
      }
    }
    p {
      @include fontRoboto(400,1.8rem);
      background-color: $color1A;
    }
    color: $color1;

  }
}
.miscellaneous{
  @include padVert($navTopHeight, $navTopHeight);
  ul {
    li {
      background-color: $color2A;
      a {
        @include fontRighteous(1.4rem);
        color: $color3A;
        &:hover {
          color: $color4;
        }
      }
    }
  }
  &__hobbies {
    @include padVert(2rem);
    &--left {
      text-align: right;
    }
    &--mid {
      color: $color2A;
      text-align: center;
      @include padVert(1rem,1rem);
    }
    &--right {
      text-align: left;
    }
  }
  .tab-pane {
    h3 {
      @include fontRighteous(2.8rem);
    }
    p {
      @include fontRoboto(400,1.8rem);
      span {
        font-weight: 700;
      }
    }
  }
  .carousel-indicators {
    li {
      border-color: $color2;
    }
    .active {
      background-color: $color2;
    }
  }
  .carousel-inner {
    .item {
      img {
        margin: 0 auto;
      }
    }
  }
  .carousel-caption {
    h3 {
      @include fontRighteous(3.6rem);
      color: $color2;
    }
    p {
      @include fontRoboto(400,2rem);
      color: $color2A;
      span {
        @include fontRoboto(700,2.4rem);
      }
    }
  }
  .carousel-control {
    span {
      color: $color2;
    }
  }
  .infoExt {
    p {
      a {
        @include fontRoboto(400,1rem);
      }
    }

  }
}
div {
  .footer {
    background-color: $color4;
    q {
      @include fontMontserrat(400,1rem);
      color: $color3;
    }
  }
}
